<header class="header">
  <div class="container">
    <div class="main-nav">
      <div class="button-select">
        <button class="button-select__button button-labeled" type="button">
          <span class="button-labeled__icon-block">
            <svg class="icon" width="24" height="24" role="img" focusable="false">
              <use xlink:href="@@pathi/media/sprite.svg#location"></use>
            </svg>
          </span>
          <span class="button-labeled__label">
            Санкт-Петербург
          </span>
        </button>
        <ul class="button-select__list simple-list">
          <li class="simple-list__item">
            Санкт-Петербург
          </li>
        </ul>
      </div>
      <div class="main-nav__logo-block">
        <a href="/" class="main-nav__logo">
          <picture>
            <img src="@@pathi/media/fl-logo.svg" alt="Лого Fitnesslook">
          </picture>
        </a>
      </div>
      <nav class="main-nav__nav-block">
        <ul class="nav-list">
          <li class="nav-list__item">
            <a href="/" class="nav-list__link">Магазины</a>
          </li>
          <li class="nav-list__item nav-list__item--has-submenu">
            <button class="button-accordion" type="button">
              <span class="button-accordion__label">Покупателям</span>
              <span class="button-accordion__icon-block">
                <svg width="24" height="24" role="img" focusable="false">
                  <use xlink:href="@@pathi/media/sprite.svg#catalog"></use>
                </svg>
              </span>
            </button>
            <ul class="nav-submenu">
              <li class="nav-submenu__item">
                <a href="/" class="nav-submenu__link">Пункт-1</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <div class="main-nav__contacts-block">
        <a class="button-labeled" tel="88124071025">
          <span class="button-labeled__icon-block">
            <svg width="24" height="24" role="img" focusable="false">
              <use xlink:href="@@pathi/media/sprite.svg#phone"></use>
            </svg>
          </span>
          <span class="button-labeled__label">
            8 (812) 407-10-25
          </span>
        </a>
      </div>
    </div>
    <div class="action-panel">
      <div class="action-panel__navigation-control">
        <button class="button-catalog" type="button">
          <span class="button-catalog__icon-block">
            <svg width="24" height="24" role="img" focusable="false">
              <use xlink:href="@@pathi/media/sprite.svg#catalog"></use>
            </svg>
          </span>
          <span class="button-catalog__label">
            Каталог
          </span>
        </button>
      </div>
      <form class="action-panel__search search-form">
        <input class="search-form__field" type="search" id="search" name="searchstring" required placeholder="Найти товар, категорию" aria-label="Поиск">
        <button class="search-form__button button-icon" type="submit">
          <svg class="icon" width="24" height="24" role="img" focusable="false">
            <use xlink:href="@@pathi/media/sprite.svg#search"></use>
          </svg>
        </button>
      </form>
      <div class="action-panel__user-control">
        <button class="button-icon" type="button">
          <svg width="24" height="24" role="img" focusable="false">
            <use xlink:href="@@pathi/media/sprite.svg#compare"></use>
          </svg>
          <span class="button-icon__sticker">1</span>
        </button>
      </div>
    </div>
  </div>
  <nav class="product-nav">
    <ul class="product-nav__list">
      <li class="product-nav__item">

      </li>
    </ul>
  </nav>
</header>