:root {
  --cl-black-main: #2E2E2E;
  --cl-grey-dark: #717171;
  --cl-grey-light: #BCBCBC;
  --cl-background: #F2F2F2;
  --cl-white: #FFFFFF;
  --cl-purple-accent: #AB76B4;

  --cl-purple-secondary: #D8C5DB;
  --cl-purple-dark: #975DA0;
  --cl-blue-technical: #3191EB;
  --cl-green-success: #15AD36;
  --cl-red-alert: #F24343;

  --transition-main: all 0.3s ease-in;
}